#dashboard {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: #fdfdfd;
}

#table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 3vw;
    left: 50%;
    transform: translate(-50%, 0);
}

#dashboard-heading {
    font-size: 10vw;
    margin: 0;
    color: #dcdcdc;
    padding: 0;
    outline: none;
}

#pagination-container {
    display: flex;
    gap: 1vw;
    color: #767676;
    font-size: 0.7vw;
    align-items: center;
    justify-content: center;
}

#prev-btn, #next-btn {
    color: #3b3b3b;
    font-weight: bold;
    cursor: pointer;
}

#search-container {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    background: #fdfdfd;
}

#add-entry-container {
    height: 3vw;
    width: 50vw;
    background: #fff;
    z-index: 3;
    margin-bottom: 1vw;
    border: 0.1vw solid #dddddd;
    border-radius: 0.3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

#add-entry-uname, #add-entry-email, #add-entry-pass, #add-entry-btn {
    height: 2vw;
    border-radius: 0.2vw;
    outline: none;
    border: none;
}

#add-entry-container input {
    width: 12vw;
    padding-left: 1.5vw;
    border: 0.1vw solid #e6e6e6;
    font-size: 0.9vw;
}

#add-entry-container button {
    width: 5vw;
    background: #ecf7f1;
    cursor: pointer;
}